.settings
.project
.classpath
node_modules
*.css
/onyxia-api/bin
.idea
*.iml
.vscode
onyxia-api/src/main/resources/application.properties.local
onyxia-api/src/main/resources/regions.json.local