name: Labeler

on:
  push:
    branches:
      - main

jobs:
  labeler:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v6

      # Reads labels from .github/labels.yml
      - name: Run Labeler
        uses: crazy-max/ghaction-github-labeler@v5